{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}


    <div class="jumbotron text-light mt-4">
        <h1 class="display-3">Souvenirs intemporels</h1>
        <p class="lead">
            A l'aide du QR code apposé sur la tombe, accéder à la biographie, photos et même vidéos de vos proches,
        </p>
        <hr class="my-4">

    </div>


{% endblock %}
